<h2>This is the view</h2>
<div class="demo-card-wide mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text" ng-repeat="oneView in viewEntries">{{oneView.data}}</h2>
    </div>
    <div class="mdl-card__supporting-text" ng-repeat="oneView in viewEntries">
    {{oneView.data}}
    </div>
  </div>

  <div class="demo-card-wide mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text" ng-repeat="oneView in viewEntries">{{twoView.data}}</h2>
    </div>
    <div class="mdl-card__supporting-text" ng-repeat="oneView in viewEntries">
    {{oneView.data}}
    </div>
  </div>
